.nav-links-container {
  margin:auto;
}

nav {
  border-radius: 0px;
  background-color: #000033;
}

.nav-link {
  color: #fff;
  background-color: #000033;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}

.nav-link:hover {
  color: #000033;
  background-color: #fff;
}

.active {
  color: #000033;
  background-color: #fff;
  border-radius: 20px;
}
