.nav-links-container {
  margin:auto;
}

nav {
  border-radius: 0px;
  background-color: #5c39f2;
}

.nav-link {
  color: #fff;
  background-color: #5c39f2;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}

.nav-link:hover {
  color: #5c39f2;
  background-color: #fff;
}
